<p>
  <strong>Period:</strong>
  <%= @order.period %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @order.start_date %>
</p>
<p>
  <strong>Frequency:</strong>
  <%= @order.frequency %>
</p>
<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>
<p>
  <strong>Total Price:</strong>
  <%= number_to_currency(@order.total_price) %>
</p>
<p>
  <strong>Status:</strong>
  <%=  @order.status %>
</p>
<%= link_to 'Edit', edit_order_path %> |
<%= link_to 'Back', :back  %>
