<div class="jumbotron">
  <h2>PMP provides you with a Professional Marketing Platform to carry out any Campaign.</h2>
  <h3>Explore the favorite spots, where you want reach customers.</h3>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Number of Displays</th>
      <th>Description</th>
       <th>Price</th>
      <% if user_signed_in? && current_user.is_admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, site, class: "btn btn-link" %></td>
        <td><%= site.address %></td>
        <td><%= site.displayNumber%></td>
         <td>  <% if site.description.length > 90 %>
                  <%= truncate(site.description, length: 90) %>
                  <%= link_to 'Read more', '', class: "read-more-#{site.id}" %>
                  <script>
                    $('.read-more-<%=site.id %>').on('click', function(e) {
                      e.preventDefault()
                      $(this).parent().html('<%= escape_javascript site.description %>')
                    })
                  </script>
                <% else %>
                  <%= site.description %>
                <% end %>
       </td>
        <td><%= number_to_currency(site.price)%></td>
        <% if user_signed_in? && current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_site_path(site), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.is_admin? %>
 <p class= "text-center">
<%= link_to 'Create a new Site', new_site_path, class: "btn btn-primary" , data: { no_turbolink: true } %>
</p>
<% end %>



